* {
    -webkit-user-select: none;
}

input, textarea {
   -webkit-user-select: text;
}

body {
    background: #131313 !important;
}

ytmusic-nav-bar {
/*    padding-left: 100px;*/
}

.logo.ytmusic-nav-bar {
    display: none;
}

html {
    overscroll-behavior: none;
}

#left-content > * {
  display: none;
}

#left-content {
  width: 300px;
  height: 20px;
}
